.fontBlack {
    color: black;
    font-weight: 400;
}

.finals {
    padding: 20px 0;
    font-size: 15px;
}

.sideBarTransform {
    transform: translateX(100%);
    transition: transform 0.4s ease-out;
    will-change: transform;
}

.sideBarOpen {
    transform: translateX(0);

}