.search {
    display: flex;
    gap: 30px;
    padding: 30px 0px 0px 30px;
}

table {
    border-collapse: collapse;
    /* width: 100%; */
    table-layout: fixed;
}

thead th,
tbody td {
    padding: 12px;
    text-align: center;
}

thead {
    color: white;
    border-bottom: 3px solid white;
}

td {
    color: rgb(160, 157, 157);
}

.div {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.div img {
    width: 10px;
    height: 10px;
    max-height: 100%;
}

caption {
    color: rgb(160, 157, 157);
    display: table-caption;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    margin: 100px 0 10px 10px;
}

.chartHidden {
    display: none;
}

.chartVisible {
    display: block;
    position: relative;
}

.chartVisible figure {
    font-weight: 600;
    font-size: 18px;
    width: 50%;
    height: 50%;
    max-height: 100%;
    position: absolute;
    top: 20%;
    left: 25%;
}

.chartPage {
    background: rgba(71, 66, 66, 0.5);
    backdrop-filter: blur(10px);
    position: absolute;
    inset: 100px;
    color: black;
    text-align: center;
}

.forChart {
    position: relative;
}

.closeButton {
    border-radius: 100%;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}