.header ul {
    display: flex;
    margin: auto;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.header ul li:nth-child(2n) :hover {
    color: white;
}

.footer {
    box-shadow: 0px 4px 4px 10px aqua;
    border-radius: 20px;
    padding: 40px;
    margin-top: 50px;
    width: 100%;
    margin: 20px;
}

.footer ul {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px 5px;
    place-items: center;
    justify-items: center;
}

.error {
    color: red;
    visibility: visible;
}

.errorHide {
    visibility: hidden;
}

.bookshidden {
    visibility: hidden;
}

form {
    display: flex;
    height: 50px;
    gap: 20px;
    margin: 20px;
}

input {
    border: 1px solid aqua;
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
    font-size: 14px;
    color: rgb(59, 59, 107);
}

form button {
    display: flex;
    align-items: center;
    border: 1px solid aqua;
    border-radius: 20px;
    color: rgb(60, 60, 93);
}

.booksshow {
    /* background-color: rgb(130, 218, 218); */
    box-shadow: 0 4px 14px 5px white;
    width: 500px;
    border-radius: 20px;
    padding: 20px;
    display: grid;

}

.click {
    background-color: rgb(52, 52, 117);
    /* color: white; */
}

.parent {
    display: flex;
}

.favourite {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: red; */
    /* box-shadow: 0px 4px 14px 10px white; */
    padding: 20px 0;
    margin-left: 30px;
    border-radius: 20px;
}

.flex {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}

.books {
    display: flex;
}

.books p {
    font-size: 20px;
    font-weight: bold;
}

.books i {
    color: rgb(137, 137, 234);
    font-weight: 400;
}

.books img {
    width: 80px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
}

.bookfavourite {
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: white;
    background-color: rgb(125, 125, 226);
    width: 600px;
    height: 200px;
    /* padding: 0px 20px; */
    border-radius: 20px;
    margin-left: 30px;
}

.bookIdentify {
    display: flex;
}

.bookIdentify button {
    height: 30px;
    border-radius: 100%;
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookintroduce div:nth-child(2) {
    display: flex;
    gap: 100px;

}

.bookfavourite figure {
    margin-top: 20px;
    width: 70px;
    max-width: 100%;
    height: 100px;
    max-height: 100%;
}

.bookfavourite img {
    /* margin-top: 20px; */
    width: 70px;
    max-width: 100%;
    height: 100px;
    max-height: 100%;
}