@font-face {
    font-family: 'Yekan';
    src: url('../fonts/YekanBakhFaNum-Medium.eot');
    src: url('../fonts/YekanBakhFaNum-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YekanBakhFaNum-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('../fonts/YekanBakhFaNum-Bold.eot');
    src: url('../fonts/YekanBakhFaNum-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YekanBakhFaNum-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.container {
    width: 1400px;
    margin: auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(244, 241, 241);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* =========================tamrin camping======================== */
.life-hack {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 32px;
}

.life-hack .box-life {
    border: 1.5px solid #cfd2e3;
    border-radius: 40px;
    padding: 24px;
    width: 392px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.life-hack .box-life .text-life {
    font-family: 'Yekan Bakh FaNum';

    width: 178px;
}

.box-life .text-life .green-life {
    display: inline-block;
    background-color: #ecfaee;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #6da975;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box-life .text-life .text-title {
    color: #081035;
    line-height: 141.8%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
}

.box-life .text-life .time {
    display: flex;
    align-items: center;
    gap: 4px;
}

.text-life .time .timer {
    margin-top: 5px;
}

.text-life .time .text-timer {
    font-size: 14px;
    font-weight: 500;
    color: #747893;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    overflow-x: scroll;
    margin: 50px auto;
}

.list .pro-box {
    width: 250px;
    padding: 15px;
    box-shadow: 10px 4px 20px 0px rgb(223, 227, 249);
    border-radius: 20px;
    flex-shrink: 0;
    font-family: sans-serif;
}

.price-name {
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.price-name span {
    color: rgb(199, 33, 58);

}

.list .pro-box .pro-name {
    font-size: 30px;
    color: rgb(61, 29, 147);
    font-weight: bold;
}

.pro-box button {
    display: flex;
    padding: 5px 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin: auto;
    background: rgb(220, 42, 69);
    color: rgb(61, 29, 147);
}

.list .pro-box .bg-img {
    background-color: rgb(239, 237, 237);
    height: 180px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .pro-box img {
    width: 200px;
    height: 160px;
    /* border-radius: 20px; */
    max-height: 100%;
}
/* =================================end tamrin camping=================== */



/* =================================delino========================== */
.delino-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
    overflow-x: scroll;
    padding: 20px;
}

.delino-list .food-box {
    padding: 15px;
    border-radius: 20px;
    /* width: 500px; */
    display: grid;
    /* height: 290px; */
    grid-template-rows: 5fr 1fr;
    grid-template-columns: 2fr 2fr;
    border: 1px solid rgb(216, 197, 197);
    flex-shrink: 0;
    gap: 15px;
    background-color: #fff;
    font-family: 'Yekan BAkh Fanum';
}

.delino-list .food-box img {
    border-radius: 30px;
    width: 200px;
    height: 200px;
    max-height: 100%;
}

.delino-list .food-box .buy {
    border-radius: 50px;
    width: 195px;
    height: 40px;
    border: 1px solid rgb(186, 16, 16);
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    cursor: pointer;
    font-size: 20px;
    background-color: #fff;
    font-family: 'Yekan BAkh Fanum';
}

.food-price {
    color: red;
}

.title-cart {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.cart2 {
    font-family: 'Yekan Bakh FaNum';
    margin-bottom: 50px;
    padding: 10px;
}

.title-cart button {
    border: none;
    cursor: pointer;
}

.number-buy {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart2 .company {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 2px solid rgb(192, 187, 187);
    padding: 20px 0;
}

.cart2 .company img {
    width: 60px;
    height: 60px;
    max-height: 100%;
    border-radius: 10px;
}

.cart2 .company .company-name {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.cart2 .company a {
    color: red;
}

.buy-name {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(192, 187, 187);
    padding: 20px 0;
}

.add-items {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
}

.cart2 .add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid red;
    color: red;
    font-size: 25px;
    cursor: pointer;
}

.total-cart2 {
    border-top: 2px solid rgb(192, 187, 187);
    padding: 10px;
    position: relative;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 150px;
    height: 50px;
    border: 2px solid;
    border: 2px solid rgb(192, 187, 187);
    border-radius: 50px;
    left: 45%;
    top: -25px;
    background-color: rgb(244, 241, 241);
    z-index: 1;
    color: rgb(113, 111, 111);
}

.total-cart2 .total-price {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.final-buy {
    background-color: rgb(229, 11, 11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    position: relative;
    height: 70px;
}

.buy-logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
}

.buy-logo img {
    width: 50px;
    height: 50px;
    max-height: 100%;
}
/* ================================end delino================================= */

/* ============================tamrin api======================= */
.user-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 15px 10px;
}

.user-box {
    background-color: #001e61;
    padding: 20px;
    border-radius: 40px;
    transition: all 0.5s ease;

}

.user-box:hover {
    transform: translateX(5px);
    transition: all 0.5s ease;
}

.images-manager {
    position: relative;
    overflow: hidden;
}

.user-list img {
    width: 200px;
    height: 200px;
    max-height: 100%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.font-scale {
    transition: all 0.5s ease;

}

.user-list .font-scale:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    color: red;
}

.user-list .img-blur {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(50%) scaleY(1.5);
    opacity: 0;
    filter: blur(10px);
    transition: all 0.5s ease;
}

.images-manager:hover .img-blur {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
}

.user-list .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-text {
    text-align: left;
    color: rgb(101, 217, 237);
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 50px;
}

.contact-info {
    display: flex;
    margin: auto;
    border: 3px solid #0afee6;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    /* border-top-right-radius: 40px; */
    background-color: transparent;
    padding: 20px 70px;
    color: rgb(101, 217, 237);
    font-size: 36px;
    font-weight: 500;
    font-family: sans-serif;
    cursor: pointer;
    transition: all 0.5s ease;
}
.contact-info:hover {
    border: 3px solid #68170a;
    border-radius: 40px;
}
/* =================================end tamrin api================================= */