* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img{
    max-width: 100%;
}

.container {
    width: min(100% , 1200px);
    margin: auto;
}
body {
    background-color: black;
}